doctype html

html

    header

        meta(charset='utf-8')
        meta(name='author' content='Rafael Escobar')
        meta(name='description' content='')
        meta(name='viewport' content='width=device-width, initial-scale=1.0')

        link(inline, rel='stylesheet', href='index.css')

        script(src="https://unpkg.com/axios/dist/axios.min.js")
        script(src="./index.js")

        title #{title}

    body

        h1 #{title}

        table.table-h
            tr
                th Mundial
                th Recopa
                th Libertadores
                th Brasileirão
                th Copa do Brasil
                th Série B
                th Paulistão
            tr(class=`team-${teams[0]}`)
                td 2
                td 1
                td 1
                td 7
                td 3
                td 1
                td 30
            tr(class=`team-${teams[1]}`)
                td 0
                td 0
                td 1
                td 10
                td 3
                td 2
                td 22

        table.table-v
                tr
                    td Mundial
                    td(class=`team-${teams[0]}`) 2
                    td(class=`team-${teams[1]}`) 0
                tr
                    td Recopa
                    td(class=`team-${teams[0]}`) 1
                    td(class=`team-${teams[1]}`) 0
                tr
                    td Libertadores
                    td(class=`team-${teams[0]}`) 1
                    td(class=`team-${teams[1]}`) 1
                tr
                    td Brasileirão
                    td(class=`team-${teams[0]}`) 7
                    td(class=`team-${teams[1]}`) 10
                tr
                    td Copa do Brasil
                    td(class=`team-${teams[0]}`) 3
                    td(class=`team-${teams[1]}`) 3
                tr
                    td Série B
                    td(class=`team-${teams[0]}`) 1
                    td(class=`team-${teams[1]}`) 2
                tr
                    td Paulistão
                    td(class=`team-${teams[0]}`) 30
                    td(class=`team-${teams[1]}`) 22
